{% load tag %}
{% if objects.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center" style="margin:20px 0">
        {% if objects.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?search={{search_value}}{{ city_value|verify_length }}&page={{ objects.previous_page_number }}">
                <span>Prev</span>
            </a>
        </li>
        {% else %}
        <li class="disabled page-item">
            <a class="page-link" href="#">
                <span>Prev</span>
            </a>
        </li>
        {% endif %}

        {% for page in range %}
        <li {% if page == objects.number %} class="active page-item" {% endif %}>
            <a class="page-link" href="?search={{ search_value }}{{ city_value|verify_length }}&page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
        {% if objects.has_next %}
        <li class="page-item">
            <a class="page-link" href="?search={{search_value}}{{ city_value|verify_length }}&page={{ objects.next_page_number }}">
                <span>Next</span>
            </a>
        </li>
        {% else %}
        <li {% if not objects.has_next %}class="disabled page-item"{% endif %}>
            <a class="page-link" href="#">
                <span>Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}