{% extends 'main_page.html'%}
{% block content %}
<div class="bg-dark mt-2 text-white" style="opacity: 0.9;">
    <p class="lh-lg text-center">
        <b>The main idea of this project is to gather all of the job offers from the most popular
        source of the polish internet. Usuall job search takes a lot of time because of opening
        multiple cards and setting different preferences on different webs as each web has own indenpendent system.
        fastIT comes ahead - One system holding the thousands offers.</b>
    </p>
</div>
{% endblock %}