amqp==5.0.2
appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
celery==5.0.5
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cssselect==1.1.0
distlib==0.3.1
Django==3.1.5
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-timezone-field==4.1.1
django-windows-tools==0.2.1
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
idna==2.10
jdcal==1.4.1
kombu==5.0.2
lxml==4.6.2
nest-asyncio==1.4.3
openpyxl==3.0.5
parse==1.18.0
pip==19.0.3
pipenv==2020.11.15
postgres==3.0.0
prompt-toolkit==3.0.9
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pyee==7.0.4
pypiwin32==223
pyppeteer==0.2.2
pyquery==1.4.3
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.5
pywin32==300
requests==2.25.0
requests-html==0.10.0
selenium==3.141.0
setuptools==40.8.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
tqdm==4.54.1
urllib3==1.26.2
vine==5.0.0
virtualenv==20.2.2
virtualenv-clone==0.5.4
w3lib==1.22.0
wcwidth==0.2.5
websockets==8.1
