body{
    background:
        url("https://images.unsplash.com/photo-1548678756-aa5ed92c4796?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}
